.my_form_btn {
    color: white;
    background-color: #37373b;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;

    transition: all 0.3s linear;
    font-weight: 600;
}

.my_form_btn:hover {
    color: #37373b;
    background-color: #f8f8f6;
}

.my_submit_btn {
    padding: 10px 20px;
    border-radius: 25px;

    transition: all 0.3s linear;
    font-weight: 600;
}

.my_submit_btn:hover {
    color: #0249b3;
    background-color: #f8f8f6;
}

.my_visible {
    position: relative;

    color: #37373b;
    background-color: #f8f8f6;

    padding: .5rem;
    border-radius: 5px;
}

.my_check {
    position: absolute;

    scale: 1.5;
    cursor: pointer;

    right: 2rem;
    bottom: 50%;

    transform: translateY(25%);

}

@media screen and (max-width: 768px) {
    .phone-none {
        display: none;
    }
  }