.my_btn:hover {
    background-color: #37373b;
    
}

.my_btn {
    background-color: #f2ca39;
    color: #37373b;

    border: none;

    border-radius: 24px;
    font-weight: 600;

    transition: all 0.2s linear;
}